 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: Poppins;
     background: linear-gradient(to right, #3a3a3a, #3b5323);
   
}
header{
    background-color:#2e4f1f;
    display: flex;
   
    
    /* line-height: 25px;
    height: 100px;
    padding: 25px; */
    
}
.Abt_txt{
    border: 2px solid #d4af37;
    margin: 40px;
    box-shadow: 0 0 12px #d4af37;
    font-size: 1em;


}

aside, section{
    padding: 20px;
    margin: 10px;
}

.navlinks{
    /* list-style: none; */
    /* font-family:Montserrat; */
    display: flex;
    flex-direction: row;
   justify-content:space-between;
   align-items: center;
   width: 100%;
   padding: 20px;

}
.link{
    
    display: flex;
    list-style: none;
    font-family: Montserrat;
    gap: 20px;
     margin-left: auto;
   
}

.link li a, .hdtext{
    text-decoration: none;
     color: #d4af37;;
    font-weight: 800;
    font-size: 2rem; 
    /* margin: 10px 20px; */
    
}
.hdtext{
   color: #bfa8ff;
   
}
/* @media screen and (max-width:768px){
    .navlinks{
        flex-direction: column;
        align-items: flex-start;
    }
    .link{
        flex-direction: column;
        gap: 10px;
    }
    
} */

@media screen and (min-width:1024px){
    .navlinks{
        
        flex-direction: row;
        align-items: center;
        
        
    }
    .link{
       display: flex;
       justify-content: flex-end;
       align-content: flex-end;
        margin-left: auto;
     
        flex-wrap: nowrap;
           gap: 5px;
           
    }
     .link li{
    flex: 0 0 31%;
}
.bigscreentxt{
    display: block;
}
.mobiletxt    { 
    display: none;
 }
}
@media screen and (max-width:768px){
    .navlinks{
        
        flex-direction: row;
       
       
        align-items: center;
    }
    .link{
       display: flex;
       justify-content: flex-end;
       align-content: flex-end;
        margin-left: auto;
     
        flex-wrap: wrap;
           gap: 15px 20px;
           
    }
     .link li{
    flex: 0 0 31%;
}
.bigscreentxt{
    display: none;
}
.mobiletxt{
    display: block;
}
}
@media screen and (max-width:768px){
    .navlinks{
        
        flex-direction: row;
        
        
        align-items: center;
    }
    .link{
       display: flex;
       justify-content: flex-end;
       align-content: flex-end;
     
        flex-wrap: wrap;
           gap: 15px 20px;
           
    }
     .link li{
    flex: 0 0 31%;
}
.bigscreentxt{
    display: none;
}
.mobiletxt{
    display: block;
}
}
.icon{
     display: none;
  font-size: 28px;
  cursor: pointer;
  width: 30px;
}
@media (max-width: 576px) {
  .icon {
    display: block;
    margin-left: auto;
  }
  .navlinks {
    justify-content: space-between;
    align-items: center;
  }

  .link {
    display: none;
  }

  
}

.main{
    background: linear-gradient(to right, #3a3a3a, #3b5323);
    color: #f5f5dc;
}
.image{
    width: 100%;
    max-width: 50%;
    padding-left: 20px;
    margin: 10px;
}
p{
    text-indent: 40px;
    padding-left: 20px;
   
}

h1{
    padding-left: 10px;
    color: #d4af37;
   
}
h4, h3, .form{
    padding-left: 10px;
    
   
}
.links{
     color: #d4af37;
}
.links:hover{
    color: #c7d7a4;
    transition: 0.5s;
}

 
fieldset{
    padding: 20px;
   
}
.submit{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background-color: #d4af37;
  color: #111111;
  border: none;
}
.submit:hover{
    background-color: #ffd36b;
  color: #000;
   transition: 0.5s;
}
.reset{
    background: #666; 
  color: #fff;
   width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
}
.reset:hover{
    background: #888; 
  color: #fff;
  transition: 0.5s;
}
input, textarea {
  background: #2e2e2e; 
  color: #f2f2f2;     
  border: 1px solid #556b2f; 
  padding: 10px;
}
footer{
    text-align: center;
    padding: 40px 40px;
    background-color:#2e4f1f;
    color: #d4af37;
}
#navtotop a{
    
    color: #d4af37;
    list-style: none;
    text-decoration: none;
}
#navtotop{
    text-align: right;
    padding-right: 20px;
}